<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="create-services" routerLinkActive="active" class="nav-link">Add Services</a>
        </li>
        <li class="nav-item">
            <a routerLink="services" routerLinkActive="active" class="nav-link">View Services</a>
        </li>
        
    </ul>
    </div>
</nav>


<h1 class="text-center">{{title}}</h1>
<div class="container">
<router-outlet></router-outlet>
</div>
<footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2023@CRM</span>
    </div>

</footer>