<div class="col-md-6 offset-md-3" >

<h3>Add Services</h3>
<form (ngSubmit)="onSubmit(serviceForm)"  #serviceForm="ngForm">
    <div class="form-group">
        <label for="serviceId">Service ID<span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="serviceId" [(ngModel)]="service.serviceId" name="serviceId" required="true">
        
    </div>

    <div class="form-group">
        <label for="serviceName">Service Name<span style="color: red;">*</span></label>
        <input type="text" class="form-control" id="serviceName" [(ngModel)]="service.serviceName" name="serviceName" required>
        
    </div>

    <div class="form-group">
        <label for="estimatedDuration">Estimated Duration <span style="color: red;">(enter in hours)*</span></label>
        <input type="number" class="form-control" id="estimatedDuration" [(ngModel)]="service.estimatedDuration" name="estimatedDuration" required>
        

    </div>

    <div class="form-group">
        <label for="teamMembers">Team Members Involved<span style="color: red;">*</span></label>
        <input type="number" class="form-control" id="teamMembers" [(ngModel)]="service.teamMembersInvolved" name="teamMembersInvolved" required>
        



    </div>

    <div class="form-group">
        <label for="serviceType">Service Type<span style="color: red;">*</span></label>
        <select class="form-control" id="serviceType" name="serviceType" [(ngModel)]="service.serviceType" required>
          <option value="">Select Service Type</option>
          <option value="new" [(ngModel)]="service.serviceType">New</option>
          <option value="existing"[(ngModel)]="service.serviceType">Existing</option>
        </select>
        
    </div> <br>

    <button type="submit" class="btn btn-success">Add Service</button>
    <br><br>
    
    <!--a href="http://localhost:4200/services" class="btn btn-success">View All Services</a-->


</form>
</div>
